{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}

{% block content %}
    <main class="main-register">
        <div class="center">
            <div class="container">
                <div class="text">
                    Register Form
                </div>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="data">
                        {{ form.username|placeholder:'Username' }}
                        <div class="error">{{ form.username.errors }}</div>
                    </div>
                    <div class="data">
                        Gender: {{ form.gender }}
                    </div>
                    <div class="data">
                        {{ form.birthday|placeholder:'Date of birth' }}
                        <div class="error">{{ form.birthday.errors }}</div>
                    </div>
                    <div class="data">
                        {{ form.height|placeholder:'Height(cm)' }}
                        <div class="error">{{ form.height.errors }}</div>
                    </div>
                    <div class="data">
                        {{ form.weight|placeholder:'Weight(kg)' }}
                        <div class="error">{{ form.weight.errors }}</div>
                    </div>
                    <div id="check">
                        Join Motivations Group: {{ form.motivations_group }}
                    </div>
                    <div class="data">
                        {{ form.password1|placeholder:'Password' }}
                        <div class="error">{{ form.password1.errors }}</div>
                    </div>
                    <div class="data">
                        {{ form.password2|placeholder:'Confirm password' }}
                        <div class="error">{{ form.password2.errors }}</div>
                    </div>
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
